.BG{
    background-image: url('https://greglancaster.org/wp-content/uploads/2016/01/school-desks-testing-Courtesy-of-KPG_Payless-Shuttetstockcom_203920246-e1552960668542.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center ;
    height: 100vh;
    width: 100%;
}
.container{
    margin-left: 600px;
    padding-top: 100px;
    font-size: 40px;

}
.ansbox{
    padding-top: 20px;
    font-size: 35px;
}
.questbox{
    margin-top: 200px;
    font-size: 45px;
}

.answer-variant{
    padding-top: 30px;
}

.result{
    margin-left: 600px;
    margin-right: 200px;
    font-size: 60px;
}
.title{
    margin-left: 800px;
    padding-top: 100px;
    font-size: 60px;
    font-style: italic;
}
.body{
    margin: 0px;
    padding: 0px;
}